{% include 'html-header.twig' %}

<body class="{{body_class}}">

	{% block before_content %}{% endblock %}
	{% block content %}{% endblock %}
	{% block after_content %}{% endblock %}

	{{ function('wp_footer') }}
</body>
</html>
