<div class="Banner Banner--small with-nav" style="background-image:url(https://c2.staticflickr.com/8/7687/26772573180_3627d32baa_o.jpg)">
  <div class="container">
    <div class="Banner-body">
      <p class="meta">This is > a > Span</p>
      <h1>Sample Heading</h1>
    </div>
    <nav class="Nav Nav--inline">
      <a href="#">Active</a>
      <a href="#">Link</a>
      <a class="is-active" href="#">Another Link</a>
      <a href="#">Click Me</a>
    </nav>
  </div>
</div>

<div class="container">
  <div class="container-text">
    <p class="Lead Lead--intro">GCF works to safeguard the earth—its people, its plants and animals, and the natural systems on which all life depends.</p>
    <h2>I am a Heading</h2>
    <p>This report is jam-packed with excerpts of real-world statutes and regulations aimed at advancing juvenile detention reform. These examples, which support the core strategies of the Annie E. Casey Foundation’s Juvenile Detention Alternatives Initiative (JDAI), serve as clear and convenient references for stakeholders interested in updating state-level policies.</p>
    <h3>I am a Heading</h3>
    <figure class="Figure Figure--right">
      <img src="https://d13yacurqjgara.cloudfront.net/users/95862/screenshots/2690565/untitled-1.jpg" class="Figure-image" alt="A generic square placeholder.">
      <figcaption class="Figure-caption">Our work focuses on strengthening families, building stronger communities and ensuring access to opportunity, because children need all three to succeed.</figcaption>
    </figure>
      <p>Our work focuses on strengthening families, building stronger communities and ensuring access to opportunity, because children need all three to succeed. We advance research and solutions to overcome the barriers to success, help communities demonstrate what works and influence decision makers to invest in strategies based on solid evidence.</p>
        <p class="lead">GCF works to safeguard the earth—its people, its plants and animals, and the natural systems on which all life depends.</p>
        <h6 class="Heading">I am a Heading</h6>
        <p>This report is jam-packed with excerpts of real-world statutes and regulations aimed at advancing juvenile detention reform. These examples, which support the core strategies of the Annie E. Casey Foundation’s Juvenile Detention Alternatives Initiative (JDAI), serve as clear and convenient references for stakeholders interested in updating state-level policies.</p>
    <a href="" class="Button">Support Us</a>
  </div>
</div>



<footer class="Footer">
  <div class="container">
    <ul class="List List--footer List--inline">
      <li>
        <a href="#">Cras justo odio</a>
        <ul class="List-sublist">
          <li><a href="">Photos & Videos</a></li>
          <li><a href="">News Releases</a></li>
          <li><a href="">Media Contacts</a></li>
          <li><a href="">Publications</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Cras justo odio</a>
        <ul class="List-sublist">
          <li><a href="">Photos & Videos</a></li>
          <li><a href="">News Releases</a></li>
          <li><a href="">Media Contacts</a></li>
          <li><a href="">Publications</a></li>
          <li><a href="">News Releases</a></li>
          <li><a href="">Media Contacts</a></li>
          <li><a href="">Publications</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Cras justo odio</a>
        <ul class="List-sublist">
          <li><a href="">Photos & Videos</a></li>
          <li><a href="">News Releases</a></li>
          <li><a href="">Media Contacts</a></li>
          <li><a href="">Publications</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Cras justo odio</a>
        <ul class="List-sublist">
          <li><a href="">Photos & Videos</a></li>
          <li><a href="">News Releases</a></li>
          <li><a href="">Media Contacts</a></li>
          <li><a href="">Publications</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Cras justo odio</a>
        <ul class="List-sublist">
          <li><a href="">Photos & Videos</a></li>
          <li><a href="">News Releases</a></li>
          <li><a href="">Media Contacts</a></li>
          <li><a href="">Publications</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="legal">
    <div class="container">
      <div class="legal-links">
        <a href="">Copyright</a>
        <a href="">Privacy Policy</a>
        <a href="">Contact</a>
        <a href="" class="legal-dropdown">Language Selector</a>
      </div>
    </div>
  </div>
</footer>



  <article class="Media">
    <div class="Media-head">
      <h3 class="Media-title"><a href="#">Media heading</a></h3>
      <p class="meta">March 1, 2014</p>
    </div>
    <div class="Media-body">
      <div class="Media-image">
        <img src="https://d13yacurqjgara.cloudfront.net/users/414899/screenshots/2689816/the_grant_branding.png" alt="Generic placeholder image">
      </div>
      <div class="Media-content">
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
        <p class="Media-more"><a href="">Read More</a></p>
      </div>
    </div>
  </article>

  <div class="Card Card--column">
    <div class="Card-image">
      <a href="">
        <img src="https://d13yacurqjgara.cloudfront.net/users/120724/screenshots/2681107/brand-explore-10.jpg" alt="Generic placeholder image">
      </a>
    </div>
    <div class="Card-body">
      <p class="meta">Category</p>
      <h3 class="Card-title"><a href="#">Card heading</a></h3>
      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at.</p>
      <p class="more"><a href="">Learn More</a></p>
    </div>
  </div>



  <ul class="List">
    <li><a href="#">Cras justo odio</a></li>
    <li><a href="#">Dapibus ac facilisis in</a></li>
    <li><a href="#">Morbi leo risus</a></li>
    <li><a href="#">Porta ac consectetur ac</a></li>
    <li><a href="#">Vestibulum at eros</a></li>
  </ul>

  <nav class="Nav Nav--inline">
    <a class="Nav-link" href="#">Active</a>
    <a class="Nav-link" href="#">Link</a>
    <a class="Nav-link is-active" href="#">Another Link</a>
    <a class="Nav-link" href="#">Click Me</a>
  </nav>

  <div class="Banner Banner--small" style="background-image:url()">
    <h1>Climate Change</h1>
  </div>
