<footer class="Footer">
  <div class="container">
    <ul class="List List--footer List--inline">
      <li>
        <a href="#">Cras justo odio</a>
        <ul class="List-sublist">
          <li><a href="">Photos & Videos</a></li>
          <li><a href="">News Releases</a></li>
          <li><a href="">Media Contacts</a></li>
          <li><a href="">Publications</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Cras justo odio</a>
        <ul class="List-sublist">
          <li><a href="">Photos & Videos</a></li>
          <li><a href="">News Releases</a></li>
          <li><a href="">Media Contacts</a></li>
          <li><a href="">Publications</a></li>
          <li><a href="">News Releases</a></li>
          <li><a href="">Media Contacts</a></li>
          <li><a href="">Publications</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Cras justo odio</a>
        <ul class="List-sublist">
          <li><a href="">Photos & Videos</a></li>
          <li><a href="">News Releases</a></li>
          <li><a href="">Media Contacts</a></li>
          <li><a href="">Publications</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Cras justo odio</a>
        <ul class="List-sublist">
          <li><a href="">Photos & Videos</a></li>
          <li><a href="">News Releases</a></li>
          <li><a href="">Media Contacts</a></li>
          <li><a href="">Publications</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Cras justo odio</a>
        <ul class="List-sublist">
          <li><a href="">Photos & Videos</a></li>
          <li><a href="">News Releases</a></li>
          <li><a href="">Media Contacts</a></li>
          <li><a href="">Publications</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="legal">
    <div class="container">
      <div class="legal-links">
        <a href="">Copyright</a>
        <a href="">Privacy Policy</a>
        <a href="">Contact</a>
        <a href="" class="legal-dropdown">Language Selector</a>
      </div>
    </div>
  </div>
</footer>
