{% extends "base.twig" %}

{% block content %}

  <article class="Media">
    <div class="Media-head">
      <h3 class="Media-title"><a href="#">Media heading</a></h3>
      <p class="meta">March 1, 2014</p>
    </div>
    <div class="Media-body">
      <div class="Media-image">
        <img data-src="" alt="Generic placeholder image">
      </div>
      <div class="Media-content">
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
        <p class="Media-more"><a href="">Read More</a></p>
      </div>
    </div>
  </article>

{% endblock %}
