{% extends "base.twig" %}

{% block content %}
<main class="wrapper">

  {% include 'single-resource.twig' %}

  <div class="resource container">

    <div class="resource-sidebar">
      <a href="" class="Button">Clear Filters</a>
      <h4>Topic</h4>
      <ul class="List">
        <li>
          <!-- <div class="topic-box">
            <svg aria-hidden="true" role="presentation">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use>
            </svg>
          </div> -->
          About Us
        </li>
      </ul>
    </div>

    <div class="resource-body">
      <p class="Lead Lead--intro">GCF works to safeguard the earth—its people, its plants and animals, and the natural systems on which all life depends.</p>

      <article class="Media">
        <div class="Media-head">
          <div class="Media-tag">
            <a href="" class="Pill">Article</a>
          </div>
          <h4 class="Media-title"><a href="#">Clicking Clean: Which Companies Are Building Us a Green Internet?</a></h4>
          <p class="meta">March 1, 2014  |  Niko Solihin</p>
        </div>
        <div class="Media-body">
          <div class="Media-content">
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
            <p class="Media-more"><a href="">Read More</a></p>
          </div>
          <div class="Media-image">
            <img src="https://d13yacurqjgara.cloudfront.net/users/664525/screenshots/2712501/tubikstudio_ui_swiftybeaver.png" alt="Generic placeholder image">
          </div>
        </div>
      </article>

      <article class="Media">
        <div class="Media-head">
          <div class="Media-tag">
            <a href="" class="Pill">Publication</a>
          </div>
          <h4 class="Media-title"><a href="#">Clicking Clean: Which Companies Are Building Us a Green Internet?</a></h4>
          <p class="meta">March 1, 2014  |  Niko Solihin</p>
        </div>
        <div class="Media-body">
          <div class="Media-content">
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
            <!-- <p class="Media-more"><a href="">Read More</a></p> -->
          </div>
          <div class="Media-image">
            <img src="https://d13yacurqjgara.cloudfront.net/users/414899/screenshots/2689816/the_grant_branding.png" alt="Generic placeholder image">
          </div>
        </div>
      </article>


    </div>

  </div>

</main>
{% endblock %}
