<div class="Spacer"></div>

<!-- <div class="SingleResource SingleResource--document"> -->
<div class="SingleResource SingleResource--article">

  <div class="SingleResource-head container">
    <a href="" class="Pill">Publication</a>
    <div class="container-text container-text--left container-text--nopadding">
      <h1>When East Meets West and North Meets South: The Reconciling Mission of Global Christianity</h1>
      <span class="meta">March 20, 2016 &nbsp;&nbsp; | &nbsp;&nbsp; By Dr. Cheryl Jones</span>
    </div>
  </div>

  <div class="SingleResource-body">
    {% include 'single-resource-article.twig' %}
  </div>

</div>

{% include 'footer.twig' %}
