<div class="Gallery">
  <div class="container">
    <div class="Gallery-nav js-flickity"
      data-flickity-options='{ "asNavFor": ".Gallery-body", "contain": true, "pageDots": false, "prevNextButtons": false }'>
      <img src="https://c2.staticflickr.com/2/1471/26657968441_b50cc1cfd8_q.jpg" alt="" class="Gallery-cell">
      <img src="https://c2.staticflickr.com/8/7687/26772573180_7c1504520d_q.jpg" alt="" class="Gallery-cell">
      <img src="https://c2.staticflickr.com/2/1597/26698107046_577bf575f4_q.jpg" alt="" class="Gallery-cell">
      <img src="https://c2.staticflickr.com/2/1559/26698109306_fcf528eaa6_q.jpg" alt="" class="Gallery-cell">
    </div>
    <div class="Gallery-body js-flickity" data-flickity-options='{"pageDots": false, "imagesLoaded": true, "prevNextButtons": true, "autoPlay": 10000 }'>
      <img src="https://c2.staticflickr.com/2/1471/26657968441_46e0ab54c8_h.jpg" alt="" class="Gallery-cell">
      <img src="https://c2.staticflickr.com/8/7687/26772573180_0619c6cb74_h.jpg" alt="" class="Gallery-cell">
      <img src="https://c2.staticflickr.com/2/1597/26698107046_837f0f09a8_h.jpg" alt="" class="Gallery-cell">
      <img src="https://c2.staticflickr.com/2/1559/26698109306_93ff794bcd_h.jpg" alt="" class="Gallery-cell">
    </div>
    <div class="Gallery-caption container-text">
      <h5>I am a Heading</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur provident eaque, obcaecati laudantium officia dolores maxime illum assumenda.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="SingleResource-content">
    <p class="Lead Lead--intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur provident eaque, obcaecati laudantium officia</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur provident eaque, obcaecati laudantium officia dolores maxime illum assumenda. Dolor tenetur saepe voluptatem iure suscipit hic labore, consequuntur cum at. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    <a href="" class="Button Button--small">
      <svg role="presentation" title="Download This Resource">
        <use xlink:href="#link" />
      </svg>See Gallery</a>
    <a href="" class="Button Button--small">
      <svg role="presentation" title="Share This Resource">
        <use xlink:href="#share" />
      </svg>Share
    </a>
  </div>
  <div class="SingleResource-sidebar">
    <h6>Related Publications</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur provident eaque, obcaecati laudantium officia dolores maxime illum assumenda.</p>
    <a href="#" class="Pill">News</a>
    <a href="#" class="Pill">Article</a>
    <a href="#" class="Pill">Publication</a>
    <a href="#" class="Pill">Document</a>
    <a href="#" class="Pill">Photos</a>
    <a href="#" class="Pill">Videos</a>
    <hr>

    <h6>See Also</h6>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
  </div>
</div>
