<div class="container">
  <div class="SingleResource-content">
    <p class="Lead Lead--intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur provident eaque, obcaecati laudantium officia</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur provident eaque, obcaecati laudantium officia dolores maxime illum assumenda. Dolor tenetur saepe voluptatem iure suscipit hic labore, consequuntur cum at. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>

    <h2>I am a Heading</h2>
    <p>This report is jam-packed with excerpts of real-world statutes and regulations aimed at advancing juvenile detention reform. These examples, which support the core strategies of the Annie E. Casey Foundation’s Juvenile Detention Alternatives Initiative (JDAI), serve as clear and convenient references for stakeholders interested in updating state-level policies.</p>
    <h3>I am a Heading</h3>
    <figure class="Figure Figure--right">
      <img src="https://d13yacurqjgara.cloudfront.net/users/95862/screenshots/2690565/untitled-1.jpg" class="Figure-image" alt="A generic square placeholder.">
      <figcaption class="Figure-caption">Our work focuses on strengthening families, building stronger communities and ensuring access to opportunity, because children need all three to succeed.</figcaption>
    </figure>
      <p>Our work focuses on strengthening families, building stronger communities and ensuring access to opportunity, because children need all three to succeed. We advance research and solutions to overcome the barriers to success, help communities demonstrate what works and influence decision makers to invest in strategies based on solid evidence.</p>
        <p class="lead">GCF works to safeguard the earth—its people, its plants and animals, and the natural systems on which all life depends.</p>
        <h6 class="Heading">I am a Heading</h6>
        <p>This report is jam-packed with excerpts of real-world statutes and regulations aimed at advancing juvenile detention reform. These examples, which support the core strategies of the Annie E. Casey Foundation’s Juvenile Detention Alternatives Initiative (JDAI), serve as clear and convenient references for stakeholders interested in updating state-level policies.</p>
        <a href="" class="Button Button--small">
          <svg role="presentation" title="Share This Resource">
            <use xlink:href="#share" />
          </svg>Share
        </a>
  </div>

  <div class="SingleResource-sidebar">
    <h6>Related Publications</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur provident eaque, obcaecati laudantium officia dolores maxime illum assumenda.</p>
    <a href="#" class="Pill">News</a>
    <a href="#" class="Pill">Article</a>
    <a href="#" class="Pill">Publication</a>
    <a href="#" class="Pill">Document</a>
    <a href="#" class="Pill">Photos</a>
    <a href="#" class="Pill">Videos</a>
    <hr>

    <h6>See Also</h6>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
  </div>
</div>
