<div class="container">
  <div class="SingleResource-content">
    <p class="Lead Lead--intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur provident eaque, obcaecati laudantium officia</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur provident eaque, obcaecati laudantium officia dolores maxime illum assumenda. Dolor tenetur saepe voluptatem iure suscipit hic labore, consequuntur cum at. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    <a href="" class="Button Button--small">
      <svg role="presentation" title="Download This Resource">
        <use xlink:href="#download" />
      </svg>Download</a>
    <a href="" class="Button Button--small">
      <svg role="presentation" title="Share This Resource">
        <use xlink:href="#share" />
      </svg>Share
    </a>
  </div>
  <div class="SingleResource-image">
    <img src="http://static.mailchimp.com/guides/email-marketing-field-guide/images/cover.jpg" alt="">
    <ul class="List">
      <li><strong>Edition:</strong> 3nd edition</li>
      <li><strong>Writer:</strong> John Doe</li>
      <li><strong>Translations:</strong> <a href="#">English</a>, <a href="#">French</a>, <a href="#">Spanish</a></li>
      <li><strong>ISBN:</strong> 123-1-12-123456-1</li>
    </ul>
  </div>
  <div class="SingleResource-sidebar">
    <h6>Related Publications</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur provident eaque, obcaecati laudantium officia dolores maxime illum assumenda.</p>
    <a href="#" class="Pill">News</a>
    <a href="#" class="Pill">Article</a>
    <a href="#" class="Pill">Publication</a>
    <a href="#" class="Pill">Document</a>
    <a href="#" class="Pill">Photos</a>
    <a href="#" class="Pill">Videos</a>
    <hr>

    <h6>See Also</h6>
    <!-- <h6 class="Heading">See Also</h6> -->
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
  </div>
</div>
