html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  font-family: $font-family;
  font-size: 17px;
  @include from(sm) {
    font-size: 18px;
  }
  @include from(md) {
    font-size: 19px;
  }
  @include from(lg) {
    font-size: 20px;
  }
}

body {
  text: $body-color $font-weight-normal left none $font-size $line-height normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
  color: $headings-color;
  line-height: $headings-line-height;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

ul,
ol {
  padding-left: $list-padding-left;
}

ul {
  list-style-type: $list-style-type-ul-first;
  ul {
    list-style-type: $list-style-type-ul-second;
    ul {
      list-style-type: $list-style-type-ul-third;
    }
  }
}

ol {
  list-style-type: $list-style-type-ol-first;
  ol {
    list-style-type: $list-style-type-ol-second;
    ol {
      list-style-type: $list-style-type-ol-third;
    }
  }
}

hr {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $hr-color 50%);
  background-position: 0 50%;
  background-repeat: repeat-x;
  background-size: 100% $hr-padding / 20;
  border: 0;
  margin: 0;
  padding-top: $hr-padding;
  padding-bottom: $hr-padding;
}


//=============================================
// Classes
//=============================================

.Lead {
  text: $lead-font-color $lead-font-weight left none $lead-font-size $lead-line-height normal;
  margin: $lead-margin 0;
  &--intro {
    text-align: left;
  }
  &--pullquote {
    text-align: center;
  }
}
.meta {
  margin-bottom: 0;
}
.Heading {
  text: #ababab $font-weight-bold left uppercase $font-size-h5 $headings-line-height 2px;
}
