//=============================================
// Colors
//=============================================
$black:                        #000000 !default;
$white:                        #ffffff !default;
$blue:                         #12AAEB !default;
$gray-base:                    $black !default;
$gray-darker:                  lighten($gray-base, 13.5%) !default;
$gray-dark:                    lighten($gray-base, 25%) !default;
$gray:                         lighten($gray-base, 33.5%) !default;
$gray-light:                   lighten($gray-base, 46.7%) !default;
$gray-lighter:                 lighten($gray-base, 93.5%) !default;
$brand-primary:                #535765 !default;
$brand-secondary:              #97979D !default;


//=============================================
// Spacer
//=============================================
$spacer-quarter:               .25rem !default;
$spacer-half:                  .5rem !default;
$spacer-threefourth:           .75rem !default;
$spacer-single:                1rem !default;


//=============================================
// Layout
//=============================================
$grid-breakpoints: (
  xs: 0,
  sm: 34em,
  md: 48em,
  lg: 62em,
  xl: 75em,
  xxl: 87.5em
) !default;
$wrapper-width:                 1600px !default;
$container-width:               1200px !default;
$container-text-width:          725px !default;


//=============================================
// Elements
//=============================================

// Body ///////////////////////////////////////
$body-color:                    $gray-dark !default;

// Links //////////////////////////////////////
$link-color:                    $blue !default;
$link-decoration:               none !default;
$link-hover-color:              lighten($link-color, 5%) !default;
$link-hover-decoration:         none !default;

// List ///////////////////////////////////////
$list-style-type-ul-first:      square !default;
$list-style-type-ul-second:     disc !default;
$list-style-type-ul-third:      circle !default;
$list-style-type-ol-first:      decimal !default;
$list-style-type-ol-second:     lower-alpha !default;
$list-style-type-ol-third:      lower-roman !default;
$list-padding-left:             $spacer-single*2 !default;

// HR ////////////////////////////////////////
$hr-padding:                    $spacer-single*2 !default;
$hr-color:                      #ccc !default;

// SVG //////////////////////////////////////
$svg-fill:                      $white !default;
$svg-size:                      $spacer-single !default;
$svg-margin:                    $spacer-half !default;

// Tables /////////////////////////////////////
// $table-cell-padding:            $three-quarter !default;
// $table-bg:                      transparent !default;
// $table-border-width:            1px !default;
// $table-border-color:            $dimmed !default;
// $table-bg-accent:               $muted !default;

// Blockquote ///////////////////////////////////
// $blockquote-font-size:            1rem !default;;
// $blockquote-footer-font-size:     .85rem !default;;
// $blockquote-line-height:          1.6 !default;;
// $blockquote-footer-line-height:   1.5 !default;;
// $blockquote-border:               3px solid $brand-primary;


//=============================================
// Typography
//=============================================
$font-size-root:               17px !default;
$font-size:                    1rem !default;

// Common properties //////////////////////////
$font-weight-light:            200 !default;
$font-weight-normal:           400 !default;
$font-weight-bold:             700 !default;
$headings-color:               $gray-darker !default;

// Sans Serif /////////////////////////////////
$font-family:                  "Source Sans Pro", "PT Sans", "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
$font-size-h1:                 2.074rem !default;
$font-size-h2:                 1.728rem !default;
$font-size-h3:                 1.44rem !default;
$font-size-h4:                 1.2rem !default;
$font-size-h5:                 1rem !default;
$font-size-h6:                 .833rem !default;
$line-height:                  1.625 !default;
$headings-line-height:         1.25 !default;

// Lead //////////////////////////////////////
$lead-font-size:               $font-size-h4 !default;
$lead-font-weight:             $font-weight-light !default;
$lead-font-color:              $gray !default;
$lead-line-height:             1.45 !default;
$lead-margin:                  $lead-font-size*1.25;

// All Caps Heading ///////////////////////////
$caps-heading-color:                $gray !default;
$caps-heading-font-size:            .9rem !default;
$caps-heading-letter-spacing:       1.5px !default;


//=============================================
// Miscellaneous
//=============================================

// Z-Index ///////////////////////////////////
$zindex-modal:                   1000 !default;


//=============================================
// Components
//=============================================

// Sidebar ////////////////////////////////////
$sidebar-font-size:             .925rem !default;
$sidebar-color:                 lighten($body-color, 10%) !default;
$sidebar-heading-color:         $body-color !default;
$sidebar-bg:                    #f3f3f3 !default;
$sidebar-padding:               $spacer-single*1.75 !default;

// Buttons ///////////////////////////////////
$button-bg:                     $brand-secondary !default;
$button-padding:                $spacer-single $spacer-single*1.25 !default;
$button-small-padding:                $spacer-half .625rem !default;

// Banner ///////////////////////////////////
$banner-height:                 200px !default;
$banner-with-nav-height:        300px !default;
$banner-margin-bottom:          $spacer-single*3 !default;
$banner-fallback:               repeating-linear-gradient(115deg,rgba(155,155,155,.15),rgba(155,155,155,0) 3px,rgba(155,155,155,0) 3px,rgba(155,155,155,0) 5px) !default;

// Gallery //////////////////////////////////
$gallery-color:                 #ccc !default;
$gallery-bg-color:              $black !default;
$gallery-thumbnail-size:        60px !default;
$gallery-selected-border:       3px solid $white !default;

// Pagination ///////////////////////////////
$pagination-font-size:          15px;

// Figures //////////////////////////////////
$figure-caption-font-size:      90% !default;
$figure-caption-line-height:    1.4 !default;
$figure-caption-color:          #ababab !default;

// Footer ////////////////////////////////
$footer-bg-color:               #f3f3f3 !default;
$footer-font-size:              $font-size-h6 !default;
$footer-menu-color:             $black !default;
$footer-submenu-color:          #666 !default;

// Pills ///////////////////////////////////
$pill-color:                   #777 !default;
$pill-bg:                      #EBEBEB !default;
$pill-font-weight:             $font-weight-bold !default;
$pill-font-size:               .75rem !default;
$pill-letter-spacing:          .25px !default;
$pill-padding:                 $spacer-quarter $spacer-threefourth !default;
$pill-margin:                  0 $spacer-quarter $spacer-quarter 0 !default;


//=============================================
// Pages
//=============================================
