//=============================================
// Colors
//=============================================
$black:                        #000000 !default;
$white:                        #ffffff !default;
$blue:                         #12AAEB !default;
$gray-base:                    $black !default;
$gray-darker:                  lighten($gray-base, 13.5%) !default;
$gray-dark:                    lighten($gray-base, 20%) !default;
$gray:                         lighten($gray-base, 33.5%) !default;
$gray-light:                   lighten($gray-base, 46.7%) !default;
$gray-lighter:                 lighten($gray-base, 93.5%) !default;
$brand-primary:                #D75E1E !default;
$brand-secondary:              #394B61 !default;


//=============================================
// Layout
//=============================================
$grid-breakpoints: (
  xs: 0,
  sm: 34em,
  md: 48em,
  lg: 62em,
  xl: 75em,
  xxl: 87.5em
) !default;


//=============================================
// Elements
//=============================================

// Body ///////////////////////////////////////
$body-bg:                       $white !default;
$body-color:                    $gray-dark !default;

// Links //////////////////////////////////////
$link-color:                    $blue !default;
$link-decoration:               none !default;
$link-hover-color:              lighten($link-color, 5%) !default;
$link-hover-decoration:         none !default;

// List ///////////////////////////////////////
$list-style-type-ul-first:      square !default;
$list-style-type-ul-second:     disc !default;
$list-style-type-ul-third:      circle !default;
$list-style-type-ol-first:      decimal !default;
$list-style-type-ol-second:     lower-alpha !default;
$list-style-type-ol-third:      lower-roman !default;
$list-padding-left:             2rem !default;

// HR //////////////////////////////////////////
$hr-padding:                    2rem !default;
$hr-color:                      $gray !default;

// Tables /////////////////////////////////////
// $table-cell-padding:            $three-quarter !default;
// $table-bg:                      transparent !default;
// $table-border-width:            1px !default;
// $table-border-color:            $dimmed !default;
// $table-bg-accent:               $muted !default;

// Blockquote ///////////////////////////////////
// $blockquote-font-size:            1rem !default;;
// $blockquote-footer-font-size:     .85rem !default;;
// $blockquote-line-height:          1.6 !default;;
// $blockquote-footer-line-height:   1.5 !default;;
// $blockquote-border:               3px solid $brand-primary;


//=============================================
// Typography
//=============================================
$font-size-root:               16px !default;
$font-size:                    1rem !default;

// Common properties //////////////////////////
$font-weight-light:            300 !default;
$font-weight-normal:           400 !default;
$font-weight-bold:             500 !default;
$headings-color:               $gray-darker !default;

// Sans Serif //////////////////////////
$font-family:                  "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-size-h1:                 2.441rem !default;
$font-size-h2:                 1.953rem !default;
$font-size-h3:                 1.563rem !default;
$font-size-h4:                 1.25rem !default;
$font-size-h5:                 1rem !default;
$font-size-h6:                 .8rem !default;
$line-height:                  1.5 !default;
$headings-line-height-serif:   ($line-height - .25) !default;


//=============================================
// Miscellaneous
//=============================================

// Z-Index ///////////////////////////////////
$zindex-modal:                   1000 !default;
